name: build nodejs application
on:
  push:
    branches:
      - master
jobs:
  buildjob:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the Repo
        uses: actions/checkout@v5
      - name: Setup nodejs
        uses: actions/setup-node@v5
        with:
          node-version: '18'
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Run test cases
        run: npm test
      - name: Build code
        run: npm run build
